$white: #fff;
$black: #000;

$color-brand-primary: #310b8a;
$color-brand-secondary: #ffb9b9;

$color-bg-dark: #fbf9fa;
$color-bg-light: #d7d7de;

@mixin gradient($start-color, $end-color, $orientation) {
  background: $start-color;
  @if $orientation == 'vertical' {
    background: -webkit-linear-gradient(top, $start-color, $end-color),
                linear-gradient(to bottom, $start-color, $end-color);
  } @else if $orientation == 'horizontal' {
    background: -webkit-linear-gradient(left, $start-color, $end-color),
                linear-gradient(to right, $start-color, $end-color);
  } @else if $orientation == 'radial' {
    background: -webkit-radial-gradient(center, ellipse cover, $start-color, $end-color),
                radial-gradient(ellipse at center, $start-color, $end-color);
  }
}
