// Grid Variables
$grid-outer-gutter--mobile: 16px;
$grid-outer-gutter--tablet: 40px;
$grid-outer-gutter--desktop: 8%;

$grid-columns--mobile: 6;
$grid-columns--tablet: 8;
$grid-columns--desktop: 12;

$grid-inner-gutter--mobile: 12px;
$grid-inner-gutter--tablet: 20px;
$grid-inner-gutter--desktop: 24px;

// Generic Grid Wrapper Class

@mixin grid-wrapper {
  max-width: 100%;
  width: 100%;

  @include mq('desktop') {
    width: calc(100% - #{$grid-outer-gutter--desktop} * 2);
    padding: 0 $grid-outer-gutter--desktop;
  }

  @include mq('tablet') {
    width: calc(100% - #{$grid-outer-gutter--tablet} * 2);
    padding: 0 $grid-outer-gutter--tablet;
  }

  @include mq('mobile') {
    width: calc(100% - #{$grid-outer-gutter--mobile} * 2);
    padding: 0 $grid-outer-gutter--mobile;
  }
}

// Grid Element Mixin

@mixin grid-element($el-mobile, $el-tablet, $el-desktop) {
  max-width: 100%;
  width: calc((100% / #{$el-desktop} -  #{$grid-inner-gutter--desktop} * (#{$el-desktop} - 1) / #{$el-desktop}) - 1px / #{$el-desktop});
  margin-right: $grid-inner-gutter--desktop;

  &:nth-child(#{$el-desktop}n) {
    margin-right: 0;
  }

  @include mq('tablet') {
    width: calc((100% / #{$el-tablet} -  #{$grid-inner-gutter--tablet} * (#{$el-tablet} - 1) / #{$el-tablet}) - 1px / #{$el-tablet});
    margin-right: $grid-inner-gutter--tablet;

    &:nth-child(#{$el-desktop}n) {
      margin-right: $grid-inner-gutter--tablet;
    }

    &:nth-child(#{$el-tablet}n) {
      margin-right: 0;
    }
  }

  @include mq('mobile') {
    width: calc((100% / #{$el-mobile} -  #{$grid-inner-gutter--mobile} * (#{$el-mobile} - 1) / #{$el-mobile}) - 1px / #{$el-mobile});
    margin-right: $grid-inner-gutter--mobile;

    &:nth-child(#{$el-mobile}n) {
      margin-right: $grid-inner-gutter--mobile;
    }

    &:nth-child(#{$el-mobile}n) {
      margin-right: 0;
    }
  }
}


// z-index hierarchy function
// https://codepen.io/okay_alex/pen/xBVoxV
@function z($name) {
  @if index($z-indexes, $name) {
    @return (length($z-indexes) - index($z-indexes, $name)) + 1;
  } @else {
    @return null;
  }
}
$z-indexes: (
'modal',
'toast',
'site-header',
'site-body'
);

// Generic Flex Positioning Rule Declarations

.m-top-smaller {
  margin-top: 8px;
}

.m-top-small {
  margin-top: 16px;
}

.m-top-mid {
  margin-top: 32px;
}

.m-top-large {
  margin-top: 48px;
}

.m-top-xlarge {
  margin-top: 64px;
}

.m-top-xxlarge {
  margin-top: 72px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.flex-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.flex-space-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.flex-wrap {
  display: flex;
  flex-flow: row wrap;
}
