// Generic Grid Wrapper Class

@mixin grid-wrapper {
  max-width: 100%;
  width: 100%;

  @include mq('desktop') {
    width: calc(100% - #{$grid-outer-gutter--desktop} * 2);
    padding: 0 $grid-outer-gutter--desktop;
  }

  @include mq('tablet') {
    width: calc(100% - #{$grid-outer-gutter--tablet} * 2);
    padding: 0 $grid-outer-gutter--tablet;
  }

  @include mq('mobile') {
    width: calc(100% - #{$grid-outer-gutter--mobile} * 2);
    padding: 0 $grid-outer-gutter--mobile;
  }
}

// Grid Element Mixins

@mixin grid-element($el-mobile, $el-tablet, $el-desktop) {
  max-width: 100%;
  width: calc((100% / #{$el-desktop} -  #{$grid-inner-gutter--desktop} * (#{$el-desktop} - 1) / #{$el-desktop}) - 1px / #{$el-desktop});
  margin-right: $grid-inner-gutter--desktop;

  &:nth-child(#{$el-desktop}n) {
    margin-right: 0;
  }

  @include mq('tablet') {
    width: calc((100% / #{$el-tablet} -  #{$grid-inner-gutter--tablet} * (#{$el-tablet} - 1) / #{$el-tablet}) - 1px / #{$el-tablet});
    margin-right: $grid-inner-gutter--tablet;

    &:nth-child(#{$el-desktop}n) {
      margin-right: $grid-inner-gutter--tablet;
    }

    &:nth-child(#{$el-tablet}n) {
      margin-right: 0;
    }
  }

  @include mq('mobile') {
    width: calc((100% / #{$el-mobile} -  #{$grid-inner-gutter--mobile} * (#{$el-mobile} - 1) / #{$el-mobile}) - 1px / #{$el-mobile});
    margin-right: $grid-inner-gutter--mobile;

    &:nth-child(#{$el-mobile}n) {
      margin-right: $grid-inner-gutter--mobile;
    }

    &:nth-child(#{$el-mobile}n) {
      margin-right: 0;
    }
  }
}

@mixin grid-element-inline($el-mobile, $el-tablet-small, $el-tablet, $el-desktop, $el-desktop-wide) {
    max-width: 100%;
    width: calc((100% / #{$el-desktop-wide} -  #{$grid-inner-gutter--desktop} * (#{$el-desktop-wide} - 1) / #{$el-desktop-wide}));
    margin-right: $grid-inner-gutter--desktop;

    &:nth-child(#{$el-desktop-wide}n) {
        margin-right: 0;
    }

    @include mq('desktop') {
        width: calc((100% / #{$el-desktop} -  #{$grid-inner-gutter--desktop} * (#{$el-desktop} - 1) / #{$el-desktop}));
        margin-right: $grid-inner-gutter--desktop;

        &:nth-child(#{$el-desktop-wide}n) {
            margin-right: $grid-inner-gutter--desktop;
        }

        &:nth-child(#{$el-desktop}n) {
            margin-right: 0;
        }
    }

    @include mq('tablet') {
        width: calc((100% / #{$el-tablet} -  #{$grid-inner-gutter--tablet} * (#{$el-tablet} - 1) / #{$el-tablet}));
        margin-right: $grid-inner-gutter--tablet;

        &:nth-child(#{$el-desktop}n) {
            margin-right: $grid-inner-gutter--tablet;
        }

        &:nth-child(#{$el-tablet}n) {
            margin-right: 0;
        }
    }

    @include mq('tablet-small') {
        width: calc((100% / #{$el-tablet-small} -  #{$grid-inner-gutter--tablet} * (#{$el-tablet-small} - 1) / #{$el-tablet-small}));
        margin-right: $grid-inner-gutter--tablet;

        &:nth-child(#{$el-tablet}n) {
            margin-right: $grid-inner-gutter--tablet;
        }

        &:nth-child(#{$el-tablet-small}n) {
            margin-right: 0;
        }
    }

    @include mq('mobile') {
        width: calc((100% / #{$el-mobile} -  #{$grid-inner-gutter--mobile} * (#{$el-mobile} - 1) / #{$el-mobile}) / #{$el-mobile});
        margin-right: $grid-inner-gutter--mobile;

        &:nth-child(#{$el-tablet-small}n) {
            margin-right: $grid-inner-gutter--mobile;
        }

        &:nth-child(#{$el-mobile}n) {
            margin-right: 0;
        }
    }
}

@mixin grid-element-inline-absolute($el-mobile, $el-tablet-small, $el-tablet, $el-desktop, $el-desktop-wide) {
    max-width: 100%;
    width: calc((100% / #{$el-desktop-wide} -  #{$grid-inner-gutter--desktop} * (#{$el-desktop-wide} - 1) / #{$el-desktop-wide}) - 1px / #{$el-desktop-wide});

    @include mq('desktop') {
        width: calc((100% / #{$el-desktop} -  #{$grid-inner-gutter--desktop} * (#{$el-desktop} - 1) / #{$el-desktop}) - 1px / #{$el-desktop});
    }

    @include mq('tablet') {
        width: calc((100% / #{$el-tablet} -  #{$grid-inner-gutter--tablet} * (#{$el-tablet} - 1) / #{$el-tablet}) - 1px / #{$el-tablet});
    }

    @include mq('tablet-small') {
        width: calc((100% / #{$el-tablet-small} -  #{$grid-inner-gutter--tablet} * (#{$el-tablet-small} - 1) / #{$el-tablet-small}) - 1px / #{$el-tablet-small});
    }

    @include mq('mobile') {
        width: calc((100% / #{$el-mobile} -  #{$grid-inner-gutter--mobile} * (#{$el-mobile} - 1) / #{$el-mobile}) - 1px / #{$el-mobile});
    }
}

@mixin grid-element-with-outer-gutter( $grid-element-columns-mobile, $grid-outer-gutter-times-mobile, $grid-element-columns-tablet-small, $grid-outer-gutter-times-tablet-small, $grid-element-columns-tablet, $grid-outer-gutter-times-tablet, $grid-element-columns-desktop, $grid-outer-gutter-times-desktop, $grid-element-columns-desktop-wide, $grid-outer-gutter-times-desktop-wide ) {
  max-width: 100%;
  width: calc( (100vw - #{$grid-outer-gutter--desktop} * 2) * (#{$grid-element-columns-desktop-wide} / #{$cols-desktop}) + (#{$grid-outer-gutter--desktop} * #{$grid-outer-gutter-times-desktop-wide}));

  @include mq('desktop') {
      width: calc( (100vw - #{$grid-outer-gutter--desktop} * 2) * (#{$grid-element-columns-desktop} / #{$cols-desktop}) + (#{$grid-outer-gutter--desktop} * #{$grid-outer-gutter-times-desktop}));
  }

  @include mq('tablet') {
      width: calc( (100vw - #{$grid-outer-gutter--tablet} * 2) * (#{$grid-element-columns-tablet} / #{$cols-tablet} ) + (#{$grid-outer-gutter--tablet} * #{$grid-outer-gutter-times-tablet}));
  }

  @include mq('tablet-small') {
      width: calc( (100vw - #{$grid-outer-gutter--tablet} * 2) * (#{$grid-element-columns-tablet-small} / #{$cols-tablet} ) + (#{$grid-outer-gutter--tablet} * #{$grid-outer-gutter-times-tablet-small}));
  }

  @include mq('mobile') {
      width: calc( (100vw - #{$grid-outer-gutter--mobile} * 2) * (#{$grid-element-columns-mobile} / #{$cols-mobile}) + (#{$grid-outer-gutter--mobile} * #{$grid-outer-gutter-times-mobile}));
  }
}




// fit image to it's parent
@mixin image-fit {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  width: auto;
  height: 100%;
  object-fit: cover;
  object-position: center;

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      height: auto;
      min-height: 100%;
  }
}
