// Grid Variables
$grid-outer-gutter--mobile: 16px;
$grid-outer-gutter--tablet: 40px;
$grid-outer-gutter--desktop: 8%;

$grid-columns--mobile: 6;
$grid-columns--tablet: 8;
$grid-columns--desktop: 12;

$grid-inner-gutter--mobile: 16px;
$grid-inner-gutter--tablet: 24px;
$grid-inner-gutter--desktop: 32px;


// z-index hierarchy function
// https://codepen.io/okay_alex/pen/xBVoxV
@function z($name) {
  @if index($z-indexes, $name) {
    @return (length($z-indexes) - index($z-indexes, $name)) + 1;
  } @else {
    @return null;
  }
}
$z-indexes: (
'modal',
'toast',
'site-header',
'site-body'
);
